html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(252, 242, 242);
}

h1, h2 {
    text-align: center;
}

.maui {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

section {
    margin: 40px auto;
    gap: 30px;
    max-width: 300px;
}

p {
    margin: 0;
    text-align: center;
}

/* Style for the 2 buttons in the HERO section */
.btn {
    width: 120px;
    padding: 16px;
    background-color: rgb(55, 130, 211);
    color: white;
    margin-right: 20px;
}