html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(252, 242, 242);
}

nav {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

nav a {
    margin: 20px;
    text-decoration: none;
    color: rgb(47, 0, 255);
}

nav a:hover {
    color: rgb(27, 9, 107);
}

#Top {
    text-align: center;
    border-style: solid;
    border-radius: 10px;
}

#hero h2 {
    text-align: center;
}

.maui {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

body #hero {
    margin: 40px auto;
    gap: 30px;
    max-width: 300px;
}

#hero p {
    margin: 0;
    text-align: center;
}

/* Style for the 2 buttons in the HERO section */
.btn {
    width: 120px;
    padding: 16px;
    background-color: rgb(55, 130, 211);
    color: white;
    margin-left: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(2, 49, 99);
}

body #uniform {
    margin: 20px;
    border-style: ;
}